@red :hsl(0, 100%, 68%);
@DarkBlue: hsl(230, 29%, 20%);
@DarkGrayish: hsl(230, 11%, 40%);
@Grayish: hsl(231, 7%, 65%);
@LightGrayish : hsl(207, 33%, 95%);


*{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    
}

body{
    background-image: url("images/back.svg");
   
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    display:flex;   
    justify-content: flex-end;
    width: 100%;
    height: 150px;
    
    align-items: center;
    
   

    
    ul{
       
        list-style: none;
        text-transform: uppercase;
        .logo{
            .icon{
                width: 32px;
                height: 32px;
            }
        }
        
        li{
            
            
            a{
                color: @DarkBlue;
                text-decoration: none;
                font-weight:bold;
            }
            a:hover{
                text-decoration: underline;
            }
            
        }
        .login{
            a{
           
            color: @DarkGrayish;
            }
        }
    }
}
.jumbotron{
   
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    .content{
      
        .new,.mono{
            color:@DarkGrayish;
            display: inline-block;
            text-transform: uppercase;
        }
        .new{
            color: @LightGrayish;
            line-height: 1.5;
            background-color: @DarkBlue;
            font-weight: 900;
            width: 15%;
            height: 30px;
            text-align: center;
            border-radius: 30px;
            margin-right: 5px;
        }
        .mono{
            letter-spacing:3.4px;
            font-weight: 100;
        }
        .head{
            margin-top:70px;
            color: @DarkBlue;
            font-size: 4em;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: -0.049em;
            line-height: 1;
          
        }
        .text{
            margin-top: 2em;
            
            color: @DarkGrayish;
        }
        button, p{
            margin-top: 4em;
            display: inline-block;
            text-transform: uppercase;
        }
        button{
            height: 40px;
            width: 140px;
            border-radius: 5px;
            margin-right: 16px;
            background-color: @red;
            font-weight: 600;
            text-align: center;
            letter-spacing: -0.049em;
            color: @LightGrayish;
        }
        button:hover{
            background-color: @DarkBlue;
        }
        p{
            font-weight: 100;
            color: @Grayish;
            letter-spacing: 2.49px;

        }
        
    }
}

footer{
    margin-top: 100px;
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
}

@media only screen and(max-width: 800px){
    nav {
        padding: 2em;
        display: block;
        .logo{
            display: inline;
            .icon{
                float: right;

            }
            .logo-icon{
                float: left;
            }
        }
        ul{
               display: none;
            li{
                margin:10px 0;
            }
        }
       
        
    }
    .jumbotron{
        flex-direction: column;
        .backgwrapper{
            order: 1;
            display: flex;
            img{
                z-index: -1;
            }
        }
        .content{
            order:2;
            margin:0;
            padding:0 1em;
        }
    }
}
@media only screen and(max-width:800px){
    ul.responsive{
        display: inline-block;
        margin: 40px auto;
        text-align: center;
        width: 100%;
        background: @LightGrayish;  
    }
}

@media only screen and(min-width: 800px){
    nav{
        .logo,  ul li{
            align-self: center;
           
        }
        .icon{
            display: none;
        }
        padding:5em 7em;
        ul{
            margin-left: auto;
            li{
                display: inline-block;
                padding: 0 10px;
            }
            .login{
                margin-left: 4em;
            }
        }
        
    }

    .jumbotron{
        .backgwrapper{
       
            order: 2;
            img{
                width: 100%;
                height: auto;
            }
        }
        .content{
            order: 1;
            margin-left: 7em;
        }
    }
}